@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

header *{
  margin: 0;
  padding: 0;
}

#box{
  width: 1000px;
  margin: 0 auto;
}

header, nav, footer{
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 5px 0;
}
header{  
  font-family: 'Nanum Gothic', sans-serif;
  letter-spacing: 2em;  
}

aside {
  height: 100px;
  width: 100px;
  background-color: red;
}

section{
  width: 800px;
  min-height: 600px;
  background-color: #eee;
}

main{
  display: flex;
}